body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

table {
    border-radius: 10%; /*no me funciona y no tengo tiempo*/
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

td {
    background-color: #ffffff;
    padding: 12px 20px;
    text-align: center;
    font-size: 1em;
    color: #333;
}

tr:hover td {
    background-color: #b3b3b3;
}

tr:nth-child(even) td {
    background-color: #dfdfdf;
}

table, th, td {
    border: 2px solid #b9b9b9;
}