body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #f0f0f0; 
  }
  .image-container {
    text-align: center;
  }
  img {
    width: 1200px;
    height: auto;
    border-radius: 10px; 
  }